.mr-6 {
    margin-right: 2em;
}
.mt-3 {
    margin-top: 1em;
}

.sc-ion-card-md-h {
    border-radius: 30px;
    margin: 10px -1px;
    background: #ffffff;
    min-height: 100vh;
}

.title-md {
    font-weight: 300;
    font-size: 1.3em !important;
}