<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center mr-6">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="danger">

  <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Congrats!</ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="ion-text-center">
        Your account will be available soon. <br>
        Click on the link we just sent to your email to confirm your data. Within 48 hours you will receive a second email with the outcome of your request.
        <br> <br>
        Do you want to collaborate with Atrium and be a finance digital counselor?
        <br> <br>
        <img src="../../assets/imgs/start-icon-16.png" alt="">
        <br> <br>
        <i>Insert your email, you will be contacted by a human resources manager</i>
        <br> <br>
        <ion-item>
          <ion-label position="floating">Insert your email</ion-label>
          <ion-input type="email" class="ion-text-center"></ion-input>
        </ion-item>
        <br> <br>
        <ion-button color="danger"  (click)="presentAlert()" shape="round" expand="block">Proceed</ion-button>
      </ion-card-content>
    </ion-card>

</ion-content>
