<ion-header>
  <ion-toolbar style="background: white;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="newhome"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center mr-6">Pay with credit card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form
      [formGroup]="validations_form"
      (ngSubmit)="register(validations_form.value)"
    >
      <div class="cuadro-white-bg">
        <ion-list class="list-no-border" margin-bottom>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">Name of card holder</ion-label>
                  <ion-input type="text" formControlName="NameCard"></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container
                    *ngFor="let validation of validation_messages.NameCard"
                  >
                    <div
                      class="error-message"
                      *ngIf="
                        validations_form
                          .get('NameCard')
                          .hasError(validation.type) &&
                        (validations_form.get('NameCard').dirty ||
                          validations_form.get('NameCard').touched)
                      "
                    >
                      <ion-icon name="information-circle-outline"></ion-icon>
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
  
            <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Card Number</ion-label>
                    <ion-input type="text" formControlName="NumberCard"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container
                      *ngFor="let validation of validation_messages.NumberCard"
                    >
                      <div
                        class="error-message"
                        *ngIf="
                          validations_form
                            .get('NumberCard')
                            .hasError(validation.type) &&
                          (validations_form.get('NumberCard').dirty ||
                            validations_form.get('NumberCard').touched)
                        "
                      >
                        <ion-icon name="information-circle-outline"></ion-icon>
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>


              <ion-row>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="floating">Valid thru</ion-label>
                    <ion-input type="text" formControlName="ValidThru"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container
                      *ngFor="let validation of validation_messages.ValidThru"
                    >
                      <div
                        class="error-message"
                        *ngIf="
                          validations_form
                            .get('ValidThru')
                            .hasError(validation.type) &&
                          (validations_form.get('ValidThru').dirty ||
                            validations_form.get('ValidThru').touched)
                        "
                      >
                        <ion-icon name="information-circle-outline"></ion-icon>
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="floating">CCV</ion-label>
                    <ion-input type="text" formControlName="CCV"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container
                      *ngFor="let validation of validation_messages.CCV"
                    >
                      <div
                        class="error-message"
                        *ngIf="
                          validations_form
                            .get('CCV')
                            .hasError(validation.type) &&
                          (validations_form.get('CCV').dirty ||
                            validations_form.get('CCV').touched)
                        "
                      >
                        <ion-icon name="information-circle-outline"></ion-icon>
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>





          </ion-grid>
        </ion-list> 
        <ion-button color="red" class="btn" expand="full" type="submit" [disabled]="!validations_form.valid">Buy 
          {{coin.name+' '+coin.initial+' '+quantity*coin.actual_price}}
        </ion-button>
  
      </div>
  
    </form>

    </ion-card-content>
  </ion-card>


</ion-content>