.mr-6 {
    margin-right: 2em;
}
.mt-3 {
    margin-top: 1em;
}

.select-text {
    font-size: 13px;
    margin-right: 8px;
}

h5.subtitle{
    font-size: 17px;
}
.ion-no-margin{
    margin: 0px 0px;
}
.i-select {
    font-size: 14px;
    min-width: 33vh;
    text-align: right;
}

.alert-title {
    font-size: 14px !important;
    font-weight: 500;
    color: aqua;
}

img{
    background-color:rgba(255, 255, 255, 0.2);
}
span {
    font-size: 12px;
    font-weight: 300;
}

a {
    text-decoration: none;
}

a.active span {
    color: #000000;
}

h1, h2, h3, h4, h5 {
    color: #000000;
}

:host(.button-full:not(.button-round)) .button-native {
    background: red !important;
} 

:host {

    /* Set the background of the entire app */
    --ion-background-color: #e7ebee;
    --ion-toolbar-background: #e7ebee;

    --ion-item-background: #ffffff;
    --ion-checkbox-background-checked: #d33939;
    --ion-border-color-checked: #d33939;

  
    /* Set the font family of the entire app 
    --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;*/
   

    .button-round1 {
        --border-radius: 50%;
        --padding-top: 4px;
        --padding-start: 8px;
        --padding-end: 8px;
        --padding-bottom: 4px;
        min-width: 45px;
        min-height: 45px;
        --box-shadow: none;
    }

    .btn{
        background-color: red;
    }

    .btn[disabled]{
        border: 1px solid #999999;
        background-color: rgba(249, 10, 10, 0.64);
        color: #666666;
    }
    
 .error-message
 {
   color: red;
   font-size: 14px;
   margin-left: 10px;
   margin-top: 10px;
 }
 .button-native{
     background-color: red;
 }
 
 .submit-btn {
   margin-top: 40px;
   color:white;
   background: red;
 }

 
 .center-label{
   padding-left: 18px;
   padding-top: 10px;
    }

  }
  


  .sc-ion-card-md-h {
      border-radius: 12px;
  }

  .fs-13 {
    font-size: 13px;
  }

  .total-par {
      font-size: 2em;
  }

  .txt-danger {
      color: #f11a16;
  }

  .txt-primary {
    color: var(--ion-color-primary);
}

  hr {
    height: 1px;
    border-width: 0;
    box-sizing: content-box;
    background: #e7ebee;
}

.hr-p {
    margin-top: 13px;
    border-bottom-style: dotted;
    border-color: #e7ebee;
    background: transparent;
    height: 1px;
    box-sizing: border-box;
    border-bottom-width: 2px;
}

