.bg-welcome {

    background: url(../../assets/imgs/start-bkg.png) 100% 100% no-repeat;
    background-size: cover;
}

.bg1 {

    background: url(../../assets/imgs/start-bkg.png) 100% 100% no-repeat;
    background-size: contain;
}
:host {

    /* Set the background of the entire app */
    --ion-background-color: rgba(255,255,255, 0);
    --ion-toolbar-background: rgba(255,255,255, 0);
    --ion-checkbox-background-checked: #d33939;
    --ion-border-color-checked: #d33939;

  
    /* Set the font family of the entire app 
    --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;*/

    .button-round1 {
        --border-radius: 50%;
        --padding-top: 4px;
        --padding-start: 8px;
        --padding-end: 8px;
        --padding-bottom: 4px;
        min-width: 45px;
        min-height: 45px;
        --box-shadow: none;
    }

  }

  ion-header {
    --background: rgba(255,255,255, 0) !important;
    --ion-color-base: transparent !important;
    }

   /* ion-toolbar {
        --background: transparent;
        --ion-color-base: transparent !important;
        }*/


        .header-md:after {
            bottom: 0px;
            height: 0;
        }

        .sc-ion-card-md-h {
            --background: #ffffff;
            border-radius: 8px;
        }

.border-card {
    border-top-style: solid;
    border-color: #d33939;
    border-width: 4px;
    
}

.btn-r {
    border-radius: 50% !important;
    height: 45px;
    margin-bottom: 4em;
}

.mr-3 {
    margin-right: 1em;
}

.br-outline {
    border-right-style: solid;
    border-right-width: 1px;
    border-color: #dedede;
}

.bb-outline {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #dedede;
}

.p-3 {
    padding: 1em;
}

a {
    background-color: transparent;
    color: #737373;
    text-decoration: none;
}

