<!--<ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content  class="bg-welcome">
 
  <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <img src="../../assets/imgs/logo.png" style="width: 16vh;" alt="">
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card class="border-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">{{ 'PREREGISTER.title' | translate }} </ion-card-title>
        <ion-card-title class="ion-text-center">{{ 'PREREGISTER.subtitle' | translate }} </ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="ion-text-center"> 
        <p>{{'PREREGISTER.select-language' | translate}}</p>
        <ion-button color="{{color1}}" (click)="selectLang('en')" class="br mr-3" shape="round1">ENG</ion-button>
        <ion-button color="{{color2}}" (click)="selectLang('it')" class="br mr-3" shape="round1">ITA</ion-button>
        <ion-button color="{{color3}}" (click)="selectLang('es')" class="br mr-3" shape="round1">ESP</ion-button>
        <ion-button color="{{color4}}" (click)="selectLang('rus')" class="br mr-3" shape="round1">RUS</ion-button>
      </ion-card-content>
  
    </ion-card>
    
    <ion-card>
      <ion-card-content style="padding: 0;">
        <ion-row>
          <ion-col size="6" class="ion-text-center br-outline bb-outline p-3">
            <img src="../../assets/imgs/start-icon-19.png" alt="start-icon-19" style="width: 40px; margin: 0 auto;">
            <p>  {{ 'PREREGISTER.box1' | translate }}
            </p>
          </ion-col>
          <ion-col size="6" class="ion-text-center bb-outline p-3">
              <img src="../../assets/imgs/start icon-20.png" alt="start-icon-20" style="width: 40px; margin: 0 auto;">
              <p>{{ 'PREREGISTER.box2' | translate }}</p>
          </ion-col>
          <ion-col size="6" class="ion-text-center br-outline p-3">
              <img src="../../assets/imgs/start icon-21.png" alt="start-icon-21" style="width: 40px; margin: 0 auto;">
              <p>{{ 'PREREGISTER.box3' | translate }}</p>
            </ion-col>
            <ion-col size="6" class="ion-text-center p-3">
              <a href="#">
                <img src="../../assets/imgs/start icon-22.png" alt="start-icon-22" style="width: 40px; margin: 0 auto;">
                <p>{{ 'PREREGISTER.box4' | translate }}</p>
              </a>
            </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-content class="ion-text-center">
        <p>{{ 'PREREGISTER.term' | translate }}</p>
        <ion-checkbox color="danger"></ion-checkbox>
      </ion-card-content>
    </ion-card>
  
    <ion-row>
      <ion-col class="ion-text-center">
          <ion-button color="danger" (click)="toRegister()" >CONTINUE</ion-button>
      </ion-col>
    </ion-row>

</ion-content>
