<ion-header no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      <div style="text-align: center; width: 80%">Register</div>     
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-bg">
  <form
    [formGroup]="validations_form"
    (ngSubmit)="register(validations_form.value)"
  >
    <div class="cuadro-white-bg-register">
        <ion-card-header>
            <ion-card-title class="ion-text-center">Enter the following details to sing up  </ion-card-title>
          </ion-card-header>
      <ion-list class="list-no-border" margin-bottom>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label class="label-register">{{ 'REGISTER.name' | translate}}</ion-label>
                <ion-input class="input-register" type="text" formControlName="FirstName" placeholder="{{ 'REGISTER.name' | translate}}" ></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container
                  *ngFor="let validation of validation_messages.FirstName"
                >
                  <div
                    class="error-message"
                    *ngIf="
                      validations_form
                        .get('FirstName')
                        .hasError(validation.type) &&
                      (validations_form.get('FirstName').dirty ||
                        validations_form.get('FirstName').touched)
                    "
                  >
                    <ion-icon name="information-circle-outline"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label class="label-register">{{ 'REGISTER.surname' | translate}}</ion-label>
                  <ion-input class="input-register" type="text" formControlName="LastName" placeholder="{{ 'REGISTER.surname' | translate}}"></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container
                    *ngFor="let validation of validation_messages.LastName"
                  >
                    <div
                      class="error-message"
                      *ngIf="
                        validations_form
                          .get('LastName')
                          .hasError(validation.type) &&
                        (validations_form.get('LastName').dirty ||
                          validations_form.get('LastName').touched)
                      "
                    >
                      <ion-icon name="information-circle-outline"></ion-icon>
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>


            <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label class="label-register">{{ 'REGISTER.email' | translate}}</ion-label>
                    <ion-input class="input-register" type="email" formControlName="Email" placeholder="example@email.com"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container
                      *ngFor="let validation of validation_messages.Email"
                    >
                      <div
                        class="error-message"
                        *ngIf="
                          validations_form
                            .get('Email')
                            .hasError(validation.type) &&
                          (validations_form.get('Email').dirty ||
                            validations_form.get('Email').touched)
                        "
                      >
                        <ion-icon name="information-circle-outline"></ion-icon>
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>


              <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label class="label-register">{{ 'REGISTER.password' | translate}}</ion-label>
                      <ion-input class="input-register" type="password" formControlName="Password" placeholder="at least 6 characters"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                      <ng-container
                        *ngFor="let validation of validation_messages.password"
                      >
                        <div
                          class="error-message"
                          *ngIf="
                            validations_form
                              .get('Password')
                              .hasError(validation.type) &&
                            (validations_form.get('Password').dirty ||
                              validations_form.get('Password').touched)
                          "
                        >
                          <ion-icon name="information-circle-outline"></ion-icon>
                          {{ validation.message }}
                        </div>
                      </ng-container>
                    </div>
                  </ion-col>
                </ion-row>


                
              <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label class="label-register">{{ 'REGISTER.secondPassword' | translate}}</ion-label>
                      <ion-input class="input-register" type="password" formControlName="SecondPassword" placeholder="at least 6 characters"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                      <ng-container
                        *ngFor="let validation of validation_messages.secondPassword"
                      >
                        <div
                          class="error-message"
                          *ngIf="
                            validations_form
                              .get('SecondPassword')
                              .hasError(validation.type) &&
                            (validations_form.get('SecondPassword').dirty ||
                              validations_form.get('SecondPassword').touched)
                          "
                        >
                          <ion-icon name="information-circle-outline"></ion-icon>
                          {{ validation.message }}
                        </div>
                      </ng-container>
                    </div>
                  </ion-col>
                </ion-row>


                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label class="label-register">{{ 'REGISTER.dateBirth' | translate}}</ion-label>
                      <ion-input class="input-register" type="date" formControlName="BirthDate"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                      <ng-container
                        *ngFor="let validation of validation_messages.BirthDate"
                      ><div
                          class="error-message"
                          *ngIf="
                            validations_form
                              .get('BirthDate')
                              .hasError(validation.type) &&
                            (validations_form.get('BirthDate').dirty ||
                              validations_form.get('BirthDate').touched)
                          "
                        >
                          <ion-icon name="information-circle-outline"></ion-icon>
                          {{ validation.message }}
                        </div>
                      </ng-container>
                    </div>
                  </ion-col>
                </ion-row>
                
                    <ion-row>
                        <ion-col>
                          <ion-item lines="none">
                            <ion-label class="label-register">Country of birth</ion-label>
                            <!--<ion-label class="label-register">{{ 'REGISTER.countryBirth' | translate}}</ion-label>-->
                              <ionic-selectable placeholder="Select your country"  formControlName="CountryBirth" [items]="country" 
                              itemValueField="id" itemTextField="text" 
                              [canSearch]="true" (onChange)="portChangeBirthCountry($event)">
                              </ionic-selectable>
                          </ion-item>
                          <div class="validation-errors">
                            <ng-container
                              *ngFor="let validation of validation_messages.CountryBirth"
                            >
                              <div
                                class="error-message"
                                *ngIf="
                                  validations_form
                                    .get('CountryBirth')
                                    .hasError(validation.type) &&
                                  (validations_form.get('CountryBirth').dirty ||
                                    validations_form.get('CountryBirth').touched)
                                "
                              >
                                <ion-icon name="information-circle-outline"></ion-icon>
                                {{ validation.message }}
                              </div>
                            </ng-container>
                          </div>
                        </ion-col>
                      </ion-row>



                        <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-label class="label-register">Current country</ion-label>
                                <ionic-selectable placeholder="Select your country" formControlName="CountryResidency" [items]="country2" itemValueField="id" itemTextField="text" [canSearch]="true" (onChange)="portChangeCurrentCountry($event)">
                                  </ionic-selectable>
                              </ion-item>
                              <div class="validation-errors">
                                <ng-container
                                  *ngFor="let validation of validation_messages.CountryResidency"
                                >
                                  <div
                                    class="error-message"
                                    *ngIf="
                                      validations_form
                                        .get('CountryResidency')
                                        .hasError(validation.type) &&
                                      (validations_form.get('CountryResidency').dirty ||
                                        validations_form.get('CountryResidency').touched)
                                    "
                                  >
                                    <ion-icon name="information-circle-outline"></ion-icon>
                                    {{ validation.message }}
                                  </div>
                                </ng-container>
                              </div>
                            </ion-col>
                          </ion-row>



                <ion-row>
                    <ion-col>
                        <ion-item lines="none">
                            <ion-checkbox formControlName="terms1"></ion-checkbox>  
                          <ion-label class="label-register-terms">{{ 'REGISTER.term1' | translate}}</ion-label>
                            
                          </ion-item>
                          <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.terms1">
                              <div class="error-message" *ngIf="validations_form.get('terms1').hasError(validation.type) && (validations_form.get('terms1').dirty || validations_form.get('terms1').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                              </div>
                            </ng-container>
                          </div>
                    </ion-col>
                    <ion-col size="12">
                        <ion-item lines="none">
                            <ion-checkbox formControlName="terms2"></ion-checkbox>
                            <ion-label class="label-register-terms">{{ 'REGISTER.term2' | translate}}</ion-label>
                          </ion-item>
                          <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.terms2">
                              <div class="error-message" *ngIf="validations_form.get('terms2').hasError(validation.type) && (validations_form.get('terms2').dirty || validations_form.get('terms2').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                              </div>
                            </ng-container>
                          </div>
                    </ion-col>
                  <ion-col>
                        <ion-item lines="none">
                            <ion-checkbox formControlName="terms3"></ion-checkbox>  
                            <ion-label class="label-register-terms">{{ 'REGISTER.term3' | translate}}</ion-label>
                          </ion-item>
                          <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.terms3">
                              <div class="error-message" *ngIf="validations_form.get('terms3').hasError(validation.type) && (validations_form.get('terms3').dirty || validations_form.get('terms3').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                              </div>
                            </ng-container>
                          </div>
                    </ion-col>
                  </ion-row>
    
                   
                
        </ion-grid>
      </ion-list> 
      <ion-button color="danger" shape="round" expand="block" type="submit" [disabled]="!validations_form.valid">{{'REGISTER.btnConfirm' | translate}}</ion-button>

    </div>

  </form>
</ion-content>
