ionic-selectable{
    border: 1px solid #70707070;
    border-radius: 10px;
    color: #70707070;
}

 .error-message
{
  color: red;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
}

.submit-btn {
  margin-top: 40px;
  color:white;
  background: red;
}
.button-disabled{
  cursor: default;
  opacity: .5;
  pointer-events: none;
}

.center-label{
  padding-left: 18px;
  padding-top: 10px;
}

.label-register{
  font-size: 12px;
  width: 60px;
}

.label-register-terms{
  font-size: 11px;
}

.input-register{
  font-size: 11px;
}
ion-label{
	white-space: pre-line!important;
}

ionic-selectable{
  font-size: 11px;
  border-radius: 5px;
  max-width: 100%;
}

.ion-text-center {
  font-size: 15px!important;
}

ion-card-header{
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}

ion-col{
  padding-top: 3px!important;
  padding-bottom: 3px!important;
}

.cuadro-white-bg-register {
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
  width: 100%;
  height: auto;
  display:inline-block;
  border-top-color: #F11A16;
  border-top-width: 4px;
  border-top-style: solid;
  padding-top: 20px;
  padding-bottom: 5px;
  align-items: center;
  justify-content: center;
}
