<ion-header>
  <!--<ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content>
    <div *ngFor="let coin of visibleCoins">
      <!-- Repeat this element for each coin (click)=showPopover(coin)-->
      <ion-card  (click)="openDetailsWithState(coin)">
        <ion-item  class="cardclass">
          
          <ion-grid>
            <ion-row>
              <ion-col>

                <!--<div class="cardtxt">
                  <ion-avatar item-start>
                    <img src="/assets/icon/{{coin.logo}}" alt="{{coin.id}}" style="border-radius:0;">
                  </ion-avatar>
                </div>
                <div class="cardtxt">
                  <span class="cardcurname">{{coin.name}}</span>
                  <span class="cardcurname">{{coin.symbol}}</span>
                  <span class="cardcurname-min"> start {{coin.data_start}} end {{coin.data_end}} </span>
                </div>-->

              <div class="ion-align-self-center">
                  <ion-toolbar>
                      <ion-thumbnail class="img-project" slot="start">
                          <img src="/assets/icon/{{coin.logo}}" alt="{{coin.id}}"
                              style="width: 1.5em; height:auto;">
                      </ion-thumbnail>
                      <ion-title style="padding: 0 10px;">{{coin.name}}</ion-title>
                  </ion-toolbar>
              </div>
              </ion-col>
                <ion-col>
                
                  <!--<div class="cardtxtprice">
            <span ion-text item-start>{{coin.price_usd | currency:'USD':'symbol-narrow':'1.2-3'}}</span>
          </div>
          <div class="cardhourly">
            <p class="cardhourlypos" ion-text item-start color="subtle"
              [ngClass]="(coin.percent_change_1h > 0) ? 'positive' : 'negative'">Verified 4.5<ion-icon name="star"></ion-icon></p>
            <ion-button color="primary">Whitepaper</ion-button>

              <p class="cardhourlypos" ion-text item-start color="subtle"
              [ngClass]="(coin.percent_change_24h > 0) ? 'positive' : 'negative'">project value 34,000,00</p>
          </div>-->


          <div class="ion-align-self-start ion-text-end fs-14">
              <span [style.color]="coin.verified ? '#000' : '#E8E8E8'" class="text-italic" style="margin-right: 1em;">Verified</span>
              <ion-label class="value-green fs-14" color="success" style="display: inline-flex;">{{coin.score}}
              </ion-label>
              <i class="far fa-star"></i>
          </div>
          </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
                <ion-col size="6">
                    <ion-label class="value-n">
                        &euro;{{coin.coin_price}}/{{coin.initial}}
                    </ion-label>
                    <div style="display: flex">
                        <ion-label style="margin-right: 1em;"><span class="date-title">start: </span>{{coin.data_start | date: 'MM/yyyy'}}
                        </ion-label>
                        <ion-label><span class="date-title">end: </span>{{coin.data_end | date: 'MM/yyyy'}}</ion-label>
                    </div>
                    <ion-progress-bar value="0.5" class="my-3"></ion-progress-bar>
                </ion-col>
                <ion-col class="ion-align-self-start ion-text-end" size="6">
                    <ion-button href="https://atriumwallet.com/storage/{{coin.info}}"  shape="round" fill="outline">SIA</ion-button>
                    <ion-button href="https://atriumwallet.com/storage/{{coin.white_paper}}" shape="round">Whitepaper</ion-button>
                    <ion-row>
                        <ion-col>
                            <ion-label><span class="date-title">total coin: </span>{{coin.project_value | number:'1.4-4'}}</ion-label>
                            <ion-label><span class="date-title">coin available: </span>000000</ion-label>
                        </ion-col>
                       
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button size="default" expand="block" color="success" shape="round">Buy</ion-button>
                </ion-col>
            </ion-row>
            <!--<ion-row>
               <ion-col>
                        <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>
                </ion-col>        
            </ion-row>-->
          </ion-grid>
        </ion-item>
      </ion-card>
    </div>
</ion-content>
