.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.marketshare-header-helptext {
  opacity: 0.75;
  position: absolute;
  right: 16px;
}

//Personalizado
html {
  font-size: 10px !important;
}

.button,
.sc-ion-label-md-h {
  font-size: 10px !important;
}

.title-md {
  font-size: 14px !important;
}

.text-italic {
  font-style: italic !important;
}

.fs-14 {
  font-size: 14px !important;
}

.value-n {
  font-size: 19px !important;
  color: #2b7fcf !important;
}

.mx-3 {
  margin: 0 1em;
}

.my-3 {
  margin: 1em 0;
}

.date-title {
  font-weight: 300;
  overflow: inherit!important;
}

.img-project {
  height: auto;
  margin: 0;
  padding: 0;
  width: auto;
}

:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
  --ion-color-success: #3aa94a;
}
//Fin Personalizado
