<ion-header>
  <ion-toolbar style="background: white;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="newhome"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center mr-6">Pay with wire transfer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <ion-card-content>
      <ion-row style="height: h"></ion-row>

     
    
      

      <ion-row class="mt-3">
          <ion-col size="12" text-center>
            <h2>To confirm your accreditation, make a wire transfer of the amount requested to the following IBAN xxxxx xxxxxx xxxxxxx</h2>
          </ion-col>
       </ion-row>

       <ion-row class="mt-3">
          <ion-col size="12" text-center>
            <h2>Indicate this payment reason Digital service "123456"</h2>
          </ion-col>
       </ion-row>

       <ion-row class="mt-3">
          <ion-col size="12" text-center>
            <h6>We will credit the coins as soon as we receive the wire transfer</h6>
          </ion-col>
       </ion-row>

        
        <ion-row class="mt-3">
          <ion-col>
              <ion-button (click)="register()" color="danger" class="btn-accion" shape="round" expand="block" fill="outline">Go to home</ion-button>
          </ion-col>
        </ion-row>
        

    </ion-card-content>
  </ion-card>

</ion-content>
