
h1 {
    font-weight: 600;
}

.bg-img {
    background-image: url('../images/login-atrium-wallet-01.jpg');
    height: 503px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.btn-log {
    display: block;
    margin: 1em 1.3em;
    border-radius: 40px;
    box-shadow: #f14040 0px 2px 7px;
    border-color: transparent;
}

.btn-log:focus {
    background: #e70000;
    color: #fff;
}

.btn-log:hover {
    color: #fff;
}

a{
    color: #2d82c5;
}





@media (min-width: 769px) {
    .content {
        width: 100%;
        background: white;
        padding: 0em;
        box-shadow: #c5c5c5 1px 1px 12px;
    }

    .p-3 {
        padding: 2em;
    }

    .row-df {
        display: flex;
        width: 100%;
        align-items: center;
    }
    
    .cont-df {
        display: flex;
        justify-content: center;
        height: 100%;
    }
    #cuerpo{
        height: calc(100vh - 60px);
    }
}


/*****style form*****/
* { box-sizing:border-box; }

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    display: inline-block;
    width: auto;
}

/* basic stylings ------------------------------------------ */
body 				 { background:url(https://scotch.io/wp-content/uploads/2014/07/61.jpg); }
.container 		{ 
  font-family:'Roboto'; 
  background:#FFF;
  padding:10px 50px 50px;
}
h2 		 { 
  text-align:center; 
  margin-bottom:50px; 
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:26px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:auto; /**/
  border:none;
  border-bottom:1px solid #d0d5d8;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d0d5d8;
    opacity: 1; /* Firefox */
  }
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color: #222222;; 
  font-size:1em;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  top:17px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label		{
  top:-20px;
  font-size:14px;
  color:#000000;
}

input:valid ~ label {
    top:-20px;
    font-size:14px;
    color:#000000;
  }

  input:invalid ~ label 		{
    top:-20px;
    font-size:14px;
    columns: #000000;;
  }

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:auto; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#ed1c23; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}