<ion-header>
  <ion-toolbar style="background: white;
  ">
    <ion-buttons slot="start" defaultHref="newhome" routerLink="/newhome">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center mr-6">Buy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row style="height: h"></ion-row>

      <ion-row class="mt-3" padding-top>
        <ion-col size="12">
           <h5 class="subtitle">Currency</h5>
        </ion-col>
        <ion-col size="4">
          <ion-label>Select Coin : </ion-label>
        </ion-col>
        <ion-col size="8" align-self-end>
          <ion-select  placeholder="Select One"
            class="i-select" [(ngModel)]="currency" name="currency" (ionChange)="changeEnvironment($event.target.value)">
            <ion-select-option  *ngFor="let money of coins" [value]="money.id">{{ money.name +' '+ money.initial }}</ion-select-option>
          </ion-select>
        </ion-col>

      </ion-row>
      <ion-row class="mt-3">
        <ion-col size="12">
          <h5 class="subtitle">Payment method</h5>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <div (click)="toggle('paypal')">
            <img [src]="methodPagoPaypal ? '../../assets/icon/icon-paypal.svg' : '../../assets/icon/icon-paypal-bn.svg'"
            style="width: 40px; height:auto; margin: 0 auto;">
            <span>Paypal</span></div>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <div (click)="toggle('credit')">
          
          <img [src]="methodCreditCard ? '../../assets/icon/icon-credit-card.svg' : '../../assets/icon/icon-credit-card-bn.svg'" style="width: 40px; height:auto; margin: 0 auto;">
          <span>Credit card</span>
        </div>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <div (click)="toggle('wire')">
          
          <img [src]="methodWireTranfer ? '../../assets/icon/icon-wireTransfer.svg' : '../../assets/icon/icon-wireTransfer-bn.svg'" style="width: 40px; height:auto; margin: 0 auto;">
          <span>Wire transfer</span>
        </div>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <div (click)="toggle('atm')">
          
          <img [src]="methodAtm ? '../../assets/imgs/payment-method-atriumcard-selected.png' : '../../assets/imgs/payment-method-atriumcard.png'" style="width: 40px; height:auto; margin: 0 auto;">
          <span>ATM</span>
        </div>
        </ion-col>
      </ion-row>



      <ion-row class="mt-3">
          <ion-col size="12">
            <h5 class="subtitle">Amount</h5>
          </ion-col>
          <ion-col size="5" class="ion-text-center">
            <!-- Inputs with labels -->
              <ion-item>
                <ion-label slot="end" style="margin-left: 5px;">EUR</ion-label>
                <ion-input class="fs-13" type="number" placeholder="2.999.999" value="{{ qtyConv/ price }}" name="qty" [(ngModel)]="qty"></ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="2" class="ion-text-center">
              <img src="../../assets/icon/icon-change.svg" style="width: 30px; height:auto; margin: 0 auto; margin-top: 10px;">
          </ion-col>
          <ion-col size="5" class="ion-text-center">
            <!-- Inputs with labels -->
            <ion-item>
                <ion-label slot="end" style="margin-left: 5px;">{{ coin.initial }}</ion-label>
                <ion-input class="fs-13" type="number" placeholder="2.999.999" value="{{ qty*price }}" name="qtyConv" [(ngModel)]="qtyConv"></ion-input>
              </ion-item>
          </ion-col>
        </ion-row>

        
        <ion-row class="mt-3">
          <ion-col>
              <ion-button color="danger" (click)="confirm()" shape="round" expand="block" fill="outline" [disabled]="!dataValid">Confirm</ion-button>
          </ion-col>
        </ion-row>
        <div [hidden]="!dataValid2">
        
          <ion-row class="mt-3">
            <ion-col class="ion-text-center">
                <h3 class="ion-no-margin">YOU ARE BUYING</h3>
                <h1 class="txt-danger total-par ion-no-margin"> {{qtyConv}} {{coin.initial}}</h1>
                <h4 class="txt-danger ion-no-margin">€ {{ qty }} /{{coin.initial}}</h4>
            </ion-col>
          </ion-row>

          <hr>


        <ion-row class="mt-3">
          <ion-col size="6">
              <ion-item>
                  <ion-label position="stacked">Payment method:</ion-label>
                </ion-item>
              <ion-item>  
                <ion-text position="stacked" color="primary">{{txtMethod}}</ion-text>
              </ion-item>  
          </ion-col>
          <ion-col size="6">
              <ion-item>
                  <ion-label position="stacked">Deposit to:</ion-label>
               </ion-item>   
                <ion-item>
                  <ion-text position="stacked"  color="primary">My Wallet</ion-text>
                  </ion-item>
          </ion-col>
        </ion-row>


        <ion-row class="mt-3">
          <ion-col>
              <h5>{{qtyConv}} {{coin.initial}} </h5>
          </ion-col>
          <ion-col size="6">
            <hr class="hr-p">
          </ion-col>
          <ion-col  class="ion-text-right">
            <ion-text color="primary">
              {{ qty }} €
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h5>Commissions </h5>
            </ion-col>
            <ion-col size="6">
              <hr class="hr-p">
            </ion-col>
            <ion-col  class="ion-text-right">
              <ion-text color="primary">
                0 €
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <h5>Total </h5>
              </ion-col>
              <ion-col size="6">
                <hr class="hr-p">
              </ion-col>
              <ion-col  class="ion-text-right">
                <ion-text color="primary">
                  {{ qty }} €
                </ion-text>
              </ion-col>
            </ion-row>


        <ion-row>
            <ion-col>
                <ion-button color="danger" shape="round" expand="block" (click)="toProceed()" >Proceed</ion-button>
            </ion-col>
        </ion-row>
      </div>

    </ion-card-content>
  </ion-card>




</ion-content>