<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>
        <div style="text-align: center; width: 90%">Home</div>     
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="bg-newhome">

    <ion-card>

        <ion-row>
            <ion-col size="2" class="ion-text-center">
              <img src="../../assets/imgs/eyeicon.png" style="margin: 0 auto; width: 22px; height: 26px; margin-top: 5px;" alt="Show/Hide"   (click)="ShowHideTotal()">
            </ion-col>
            <ion-col class="ion-text-center mt-3">
              <span>Wallet value</span>
              <h1 style="margin-top: 0;"><span [hidden]=ishiddenTotal>{{total}}</span> €/ATM</h1>
            </ion-col>
            <ion-col size="3">
        
                <ion-select style="margin-top: 5px;" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One"
                  class="i-select" value="eur">
                  <ion-select-option value="eur">EUR</ion-select-option>
                  <ion-select-option value="usd">USD</ion-select-option>
                  <ion-select-option value="atm">ATM</ion-select-option>
                </ion-select>
                  
            </ion-col>
        
            <ion-row>
              <ion-col style="width: 94.9vw; display:flex; justify-content: center;">
                  <div class="btn-toolbar mb-3" style="align-items: center">
                      <div class="btn-group">
                        <button type="button" class="btn1 text-black" disabled>Name</button>
                        <button type="button" class="btn1" disabled>Vol</button>
                        <button type="button" class="btn1" disabled>↑%</button>
                        <button type="button" class="btn1" disabled>↓%</button>
                        <button type="button" class="btn1" disabled>My↑</button>
                        <button type="button" class="btn1" disabled>My↓</button>
                      </div>
                    </div>
              </ion-col>
            </ion-row>
          </ion-row>
      

        <ion-card-content class="ion-text-center">
       
          <ion-card class="barraCoin" *ngFor="let coin of visibleCoins">
              <ion-card-content>
                <div style="text-align: center">
                      <div style="text-align:center;">
                          <div class="barline">
                            <ion-label class="textBars">{{(coin.quantity/total)*100}} %</ion-label><br>
                            <div class="progress-outer">
                                <div class="progress-inner" style=" height:100%;">
                                    <!--50%-->
                                </div>
                            </div>
                        </div>
                        <br>
                        <ion-thumbnail class="img-bar" slot="start">
                            <img src="/assets/icon/{{coin.logo}}" alt="{{coin.id}}"
                                style="width: 2.5em; height:auto;">
                        </ion-thumbnail>
                    </div>
                  
                      <ion-label class="textBars">{{coin.initial}}</ion-label><br>
                      <ion-label class="textBars">{{coin.name}}</ion-label><br>
                      <ion-label class="textBars">€ {{coin.quantity}}</ion-label><br>
                </div>
              </ion-card-content>
            </ion-card>

        </ion-card-content>
      </ion-card>   
    
      <div class="banner">
          <img src="assets/imgs/home-ad-082.png" width="100%" height="auto">
      </div>
      <div class="banner">
          <img src="assets/imgs/home-ad-08.png" width="100%" height="auto">
      </div>

</ion-content>
