.barraCoin{
    display: table-cell;
    box-shadow: none;
}

.progress-outer {
        width: 15px;
        padding: 0px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        //border-radius: 20px;
        height: 100px;
        position:relative;
        display: block;
        margin:0px auto;
}

.progress-inner {
        min-height: 15%;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: red;
        position: absolute;
        bottom: 0px;
    }

img {
        background-color: transparent;
        width: auto;
        margin: auto;
        display: block;
    }

.img-bar{
        margin:0px auto;
    }

.textBars{
    font-size: 11px;
}

.barline{
width: 100%;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: black;
}

.card-content-md {
    padding-left: 0px;
    padding-right: 0px;
    margin: 8px;
    line-height: 1.3;
    margin-top: 0px;
    padding-bottom: 0px;
}

.banner {
    padding-left: 0px;
    padding-right: 0px;
    margin: 8px;
    line-height: 1.3;
    margin-top: 0px;
    padding-bottom: 0px;
    width: 96%;
}

.sc-ion-card-md-h {
    --background: #ffffff;
    border-radius: 8px;
}

ion-header {
    --background: rgba(255,255,255, 0) !important;
    --ion-color-base: transparent !important;
    }

    .bg-newhome {

        background: url(../../assets/imgs/start-bkg.png) 100% 100% no-repeat;
        background-size: cover;
    }

    //Cabecera
    .mr-6 {
        margin-right: 2em;
    }
    .mt-3 {
        margin-top: 1em;
    }
    
    .select-text {
        font-size: 13px;
        margin-right: 8px;
    }
    
    
    .i-select {
        font-size: 11px;
        padding: 10px;
        min-width: 65px
    }
    
    
    ion-segment-button {
        width: calc(85% / 6);
    
        ion-label {
            max-width: calc(85vw / 6);
        }
    }
    
    .btn1 {
        display: inline-block;
        font-weight: 400;
        background: #e7ebee;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 0.9rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .btn-group, .btn-group-vertical {
        position: relative;
        display: -ms-inline-flexbox;
        display: inline-flex;
        vertical-align: middle;
    }
    .btn-group>.btn-group:not(:last-child)>.btn1, .btn-group>.btn1:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .btn-group>.btn-group:not(:first-child)>.btn1, .btn-group>.btn1:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .txt-black {
        color: #000000;
    }

    //Cabecera

    .select-text {
        overflow: visible ;
    }