<!--<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="hcs">
          <img src="assets/img/logo.png">
          </div>
      </ion-title>
  </ion-toolbar>
</ion-header>-->


<ion-content class="auth-bg">
  <div class="hcs">
          <img src="assets/img/logo.png" width="114px" height="40">
  </div>
  <form [formGroup]="validations_form"
  (ngSubmit)="login(validations_form.value)">
  <div class="cuadro-white-bg">
      <ion-list class="list-no-border" margin-bottom>
          <ion-item lines="none">
            <ion-input type="email" class="inputLogin" placeholder="Email" 
            formControlName="email"></ion-input> 
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.email"
            >
              <div
                class="error-message"
                *ngIf="
                  validations_form
                    .get('email')
                    .hasError(validation.type) &&
                  (validations_form.get('email').dirty ||
                    validations_form.get('email').touched)
                "
              >  
                <ion-icon name="information-circle-outline"></ion-icon>
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <ion-item lines="none">
           <ion-input type="password" class="inputLogin" 
           placeholder="Key of access" formControlName="password"></ion-input> 
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.password"
            >
              <div
                class="error-message"
                *ngIf="
                  validations_form
                    .get('password')
                    .hasError(validation.type) &&
                  (validations_form.get('password').dirty ||
                    validations_form.get('password').touched)
                "
              >
                <ion-icon name="information-circle-outline"></ion-icon>
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <ion-item lines="none" class="remember">
            <ion-checkbox></ion-checkbox>
            <ion-label>
                Remember me  
              </ion-label>
          </ion-item>
          <ion-item lines="none">
            <button ion-button #myButton class="botonLoginFull"  [disabled]="!validations_form.valid" no-margin block >Login</button> 
           </ion-item>
          <ion-item lines="none" class="account">
              <ion-label>
                Don't have an account?
              </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-button class="botonRegister" color="white" no-margin block (click)="toRegister()" >Open your wallet</ion-button>
          </ion-item>
        </ion-list>
  </div>
</form>

  <div class="banner">
      <img src="assets/img/banner1.jpg" width="100%" height="auto">
  </div>
  </ion-content>
