.botonRegister{
    background: white;
    color: red;
    border: 1px solid red;
}

button[disabled] {
    cursor: default;
    opacity: .5;
    pointer-events: none;
    background: gray;
}

.error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}