<ion-header>
  <ion-toolbar style="background: white;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="newhome"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center mr-6">Pay with ATM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <ion-card-content>
      <ion-row style="height: h"></ion-row>
        <ion-row class="mt-3" text-center>
          <ion-col size="12">
            <h3 style="font-size: 25px">you are buying 1,205,08 PAR for 790ATM <br> your balance is not enought</h3>
          </ion-col>
       </ion-row>

       <ion-row class="mt-3">
          <ion-col size="4" text-center></ion-col>

          <ion-col size="4" text-center style="border:1px solid rgb(237, 240, 255)">
            <h2 color="primary" style="font-size: 20px; color:#f04141">345 ATM </h2>
          </ion-col>
          <ion-col size="4" text-center></ion-col>
       </ion-row>

       	<ion-row class="mt-3">
          <ion-col>
              <ion-button (click)="register()" color="danger" shape="round" expand="block" fill="outline">Deposit ATM</ion-button>
          </ion-col>
        </ion-row>

       <ion-row class="mt-3">
          <ion-col size="12" text-center>
            <h6>or chose another payment method</h6>
          </ion-col>
       </ion-row>

        
       <ion-row class="mt-3">
        <ion-col size="4" class="ion-text-center">
          <div (click)="toggle('paypal')">
            <img [src]="methodPagoPaypal ? '../../assets/icon/icon-paypal.svg' : '../../assets/icon/icon-paypal-bn.svg'"
            style="width: 40px; height:auto; margin: 0 auto;">
            <span>Paypal</span></div>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <div (click)="toggle('credit')">
          
          <img [src]="methodCreditCard ? '../../assets/icon/icon-credit-card.svg' : '../../assets/icon/icon-credit-card-bn.svg'" style="width: 40px; height:auto; margin: 0 auto;">
          <span>Credit card</span>
        </div>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <div (click)="toggle('wire')">
          
          <img [src]="methodWireTranfer ? '../../assets/icon/icon-wireTransfer.svg' : '../../assets/icon/icon-wireTransfer-bn.svg'" style="width: 40px; height:auto; margin: 0 auto;">
          <span>Wire transfer</span>
        </div>
        </ion-col>
      </ion-row>
        

    </ion-card-content>
  </ion-card>

</ion-content>
