<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <!--<ion-title> <img src="assets/side-menu/qr-code.png" class="logo-size" alt="logo"> </ion-title>-->
          <div class="item item-avatar" style=" text-align: center; padding-top: 30px;">
            <img src="assets/side-menu/qr-code.png" width="25%" height="auto">
            <p>QR code</p>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [src]="p.icon" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
              <ion-item [routerDirection]="'root'" (click)="logout()" [routerLink]="">
                <ion-icon slot="start" [name]="exit"></ion-icon>
                <ion-label>
                  Logout
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <!--<ion-icon src="assets/side-menu/deli.svg"></ion-icon>-->
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
