// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

//Others

div.item {
  /* To correctly align image, regardless of content height: */
  vertical-align: top;
  display: inline-block;
  /* To horizontally center images and caption */
  text-align: center;
  /* The width of the container also implies margin around the images. */
  width: 120px;
}
img {
  /*width: 100px;
  height: 100px;
  background-color: grey;*/
}
.caption {
  /* Make the caption a block so it occupies its own line. */
  display: block;
}

.text_descr{
  text-align: center;
}
.text_left{
  text-align: left;
}

.text_right{
  text-align: right;
}

.auth-bg {
    --background: none;
    justify-content:center;
    text-align:center;
}


.hcs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 50px;
    margin-top: 10px;
  }

  body {
    background: url("../assets/img/bg.jpg") no-repeat center/cover fixed;
  }

.cuadro-white-bg {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    width: 90%;
    height: auto;
    display:inline-block;
    border-top-color: #F11A16;
    border-top-width: 4px;
    border-top-style: solid;
    padding-top: 20px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
}

.inputLogin{
    opacity: 0.30000001192093;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #707070;
    background: rgba(255,255,255,255);
    display: block;
    --padding-start: 10px!important;
    color: black;
}

.inputPassword{
    opacity: 0.30000001192093;
    width: 0%;
    border-radius: 5px;
    border: 0px solid #707070;
    background: rgba(255,255,255,255);
    --padding-start: 10px!important;
    color: black;
    display: block;
}

ion-checkbox{
    background: #FFFFFF;
     border-width: 1px !important;
     border-style: solid !important;
     border-radius: 4px;
     border-color : #707070 !important;
     --height : 25px;
     --width: 25px;
     --checkmark-color:#707070;
     --background-checked: #FFFFFF;
     --border-color: #FFFFFF;
     --border-color-checked :#FFFFFF;
     margin: 5px;
   }

   .remember{
    display: inline-block;
    font-size: 13px!important;
    color:#707070!important; 
   }

   .account{
    display: inline-block;
    font-size: 12px!important;
    color:#707070!important; 
   }

   .botonLoginFull{
        width: 100%;
        border-radius: 5px;
        background: #F11A16;
        font-size: 15px;
        text-align: center;
        line-height: 15px;
        color: #ffffff;
        display: block;
        height: 48px;
   }

   .botonLoginMedium{
    width: 45%;
    height: 53px;
    border-radius: 5px;
    background: #F11A16;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
    color: #ffffff;
    }

    .botonRegister{
        width: 100%;
        height: 48px;
        border-radius: 5px;
        border: 1px solid #F11A16;
        background: rgba(241,26,22,0);
        font-size: 15px;
        text-align: center;
        line-height: 15px;
        color: #F11A16;
    }

    .banner{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-top: 10px;
      }

  // list style
  .list-no-border {
  
    .item:first-child {
      border: none;
    }
    .item:last-child {
      border: none;
    }
  
    .item.item-block {
      .item-inner {
        border: none;
      }
    }
  }

  
.alertCustomCss {
  color: white; // text color for basic alerts
  button {
      float: center;
      color: white !important;
      background-color:#F11A16 !important;
      min-width: 100px;
      text-align: center!important;
      border-radius:5px!important;
      justify-content: flex-start !important;
  }
  .alert-message {
      color:black;
      text-align: center; // text color for confirm alerts
  }
  .alert-wrapper {
      background-color: white;
      border-radius:10px!important;
      justify-content: center!important;
  }
}


.alert-button-inner.sc-ion-alert-md {
  justify-content: center;
}

.alert-button-group.sc-ion-alert-md {
  justify-content: center;
}

/*ion-alert{
 --background: red !important;
}*/

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  }

  ion-content{
    --background: url("../assets/img/bg.jpg") no-repeat center/cover fixed;
}

ion-tab-bar, ion-tab-button{
  background-color:#FFFFFF;
 }
 
 ion-tab-bar, ion-tab-button{
  background-color:#FFFFFF;
 }
 ion-tab-bar, ion-tab-button ion-icon{
   color:#737373;
 }
 ion-tab-bar, ion-tab-button ion-label{
  color:#737373;
}


