/**************account*********************/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black !important;
  font-family: Avenir-Black;
  margin-top: 15px;
  text-rendering: optimizeLegibility;
}

.title-light {
  font-family: Avenir-Book;
}

body#account {
  background-color: #414343;
}

.card-account {
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.7rem;
}

.img-account {
  height: 7rem;
  margin-bottom: 1.3rem;
}

.title-account {
  margin-bottom: 0.75rem;
  color: black;
  font-family: Avenir-Black;
}

span.font-black {
  color: #000000;
}

p {
  margin-top: 0;
  margin-bottom: 0.3rem;
  color: #999999;
}

.card-footer-account {
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border-top: none;
}

.card-footer-account > p > span {
  color: #000000;
}

/************end-account******************/
