/***********dashboard************/

header {
    margin: 1rem 0;
}

.bg-light {
    background-color: #ecf0f3 !important;
}

body#dashboard {
    background-color: #ecf0f3;
}

.img-account-db {
    height: 4rem;
    width: 4rem;
}

.img-account-xs {
    height: 2.2rem;
    width: 2.2rem;
}

.username-db {
    font-family: Avenir-Roman;
    color: #999999;
}

.media-db {
    font-family: Avenir-Roman;
    color: #999999;
}

.input-group-text-top {
    background-color: #dfe5e8;
    border: none;
}

.form-control-top {
    background-color: #dfe5e8;
    background-clip: padding-box;
    border: none;
}

.card {
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0.75rem;
    border: none;
}

h4 {
    font-size: 14px;
    font-family: Avenir-Black;
    border-left: 3px solid;
    margin-left: -12px;
    padding-left: 10px;
    height: 16px;
    padding-top: 6px;
    padding-bottom: 18px;
}

h4.h-black {
    font-size: 14px;
    font-family: Avenir-Black;
    border-left: none !important;
    margin-left: 0px;
    padding-left: 3px;
    height: 16px;
    padding-top: 6px;
    padding-bottom: 18px;
    color: #000000 !important;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: transparent;
    border: transparent;
    color: #999999;
}

.menu-bar a {
    color: #999999;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.menu-bar {
    font-size: 14px;
    margin-top: 10px;
}

.menu-bar a.active {
    font-size: 14px;
    font-family: Avenir-Black;
    border-left: 3px solid #f61a16;
    color: #f61a16;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.menu-bar>li>a>i {
    margin-right: 10px;
}

.cp {
    border: 1px solid #dfe5e8;
    padding: 6px 0 10px 10px;
    border-radius: 5px;
}

.table {
    font-size: 14px;
}

.table td,
.table th {
    vertical-align: middle;
}

.table thead th {
    vertical-align: middle;
    padding: 5px 13px;
    line-height: 16px;
}

thead {
    color: #999999;
}

td {
    color: #000000;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    font-size: 14px;
}

.tab-content {
    padding: 1em;
}

.input-wi input[type="text"] {
    padding-right: 30px;
    text-align: right;
}

.input-wi {
    position: relative;
}

.input-wi i {
    position: absolute;
    right: 0;
    top: 0;
    padding: 9px 12px;
    color: #999999;
    transition: 0.3s;
}

.card-body {
    flex: 1 1 auto;
    padding: 0.71rem;
    font-size: 14px;
}

.card-o {
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: none;
    border-radius: 0.25rem;
    border: 1px solid #f2f2f2;
}

.files {
    position: relative;
    border: 1px dashed #999999;
    text-align: center;
    margin: 0;
    width: 100% !important;
    height: 120px;
    overflow: hidden;
    background: #f2f2f2;
    border-radius: 8px;
}

.files input {
    width: 100% !important;
    height: 120px;
    border: none;
    padding: 0;
    background: transparent;
    text-align: center;
}

.files {
    position: relative;
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 35px;
    left: 0;
    width: 40px;
    right: 0;
    height: 42px;
    content: "";
    background-image: url(../images/up-file.svg);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.files:before {
    content: "Browse or Drag file here";
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    color: #999999;
    font-size: 13px;
}

.rating>span:hover:before {
    content: "\2605";
    position: absolute;
}

.star {
    font-size: 25px;
    color: gold;
}

footer {
    margin-top: 1.5rem;
    color: #999999;
}

.panel-p {
    margin-bottom: 1rem;
}

.media-db .dropdown-menu {
    position: absolute;
    top: 92%;
}

@media (min-width: 768px) {
    .panel-p {
        padding-right: 1rem !important;
    }

    .img-thumbnail {
        padding: 0.1rem;
    }

    .logo-app {
        width: 80px;
    }

    .logo-app-h {
        width: 120px;
    }

    .input-wi {
        margin: 0 0 0 2em;
    }

    .align-a {
        position: absolute;
        right: 22px;
        top: 16px;
    }
}

.tab_container {
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

input,
section {
    clear: both;
    padding-top: 10px;
    display: none;
}

label.label-tab {
    font-weight: 700;
    font-size: 16px;
    display: block;
    float: left;
    width: 50%;
    padding: 0.7em;
    margin: 0;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #fafbfd;
    border-radius: 6px 6px 0 0;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4,
#tab5:checked~#content5 {
    display: block;
    padding: 16px;
    background: #fff;
    color: #999;
    border: 1px solid #dfe5e8;
    border-top: 0px;
    border-radius: 0 0 6px 6px;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    -moz-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out;
}

.tab_container .tab-content h3 {
    text-align: center;
}

.tab_container [id^="tab"]:checked+label {
    background: #fff;
    box-shadow: inset 0 3px #f61a16;
    border: 1px solid #dfe5e8;
    border-bottom: 0px;
}

.tab_container [id^="tab"]:checked+label-tab>.fa {
    color: #f61a16;
}

.label-tab>fa {
    font-size: 1.3em;
    margin: 0 0.4em 0 0;
}

.dropdown-menu-card {
    width: 100%;
    border-radius: 8px;
    text-align: left;
}

.dropdown-menu-card::after {
    right: 10px;
    position: absolute;
    top: 27px;
}

.blockquote-footer::before {
    content: " ";
}

.dropdown img {
    margin: 5px 2px 5px 12px;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.dropdown-toggle {
    padding-right: 12px;
}

.bw {
    border: 1px solid #ecf0f3;
}

.dropdown-menu>li:hover {
    background: #ecf0f3;
}

/* $search-blue */
.dropdown-header {
    background: #ccc;
    font-size: 14px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 27px;
    left: 20px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 1px;
    height: 40%;
    background-color: #ccc;
    z-order: 0;
}

/*
.detalle:before {
    top: 15px;
    left: 20px;
    bottom: 0;
    position: absolute;
    content: "\2026\2026\2026\2026\2026\2026\2026\2026\2026\2026\2026\2026";
    width: 60%;
    height: 1px;
    background-color: #dc3545;
    z-order: 0;
}*/
.stepwizard-step p {
    margin-top: 4px;
    padding-left: 15px;
    text-align: left;
    font-size: 12px;
    color: #999999;
}

.stepwizard-step p>span {
    margin-top: 10px;
    text-align: left;
    font-size: 16px;
    color: #2c81d4;
}

.stepwizard-step img {
    width: 40px;
    height: 40px;
}

.stepwizard-step {
    display: flex;
    text-align: center;
    position: relative;
    margin-bottom: 1.6em;
    margin-top: 10px;
}

.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 20px;
}

.detalle {
    color: #999999;
}

.valor {
    color: #2c81d4;
}

/*Media query*/
@media only screen and (max-width: 930px) {
    .label-tab>span {
        font-size: 14px;
    }

    .label-tab>.fa {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .label-tab>span {
        display: none;
    }

    .label-tab>.fa {
        font-size: 16px;
    }

    .tab_container {}

    .pm-0 {
        padding: 0px !important;
    }

    .logo-app-h {
        height: 30px;
    }
}

/*Content Animation*/
@keyframes fadeInScale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 767px) {
    .panel-p {
        padding-right: 0rem !important;
    }

    .img-thumbnail {
        padding: 0rem;
    }

    .img-account-db {
        height: 2rem;
        width: 2rem;
    }

    .username-db {
        font-family: Avenir-Roman;
        font-size: 14px;
        color: #999999;
        margin-top: 10px !important;
        margin-bottom: 1px !important;
    }

    .media-db p {
        font-family: Avenir-Roman;
        font-size: 12px;
    }

    .media-db {
        margin-top: 1.1rem;
    }

    .logo-sp {
        width: 152px;
    }

    .input-wi {
        margin: 1em 0;
    }

    .align-a {
        position: relative;
        top: 16px;
    }

    .a-container {
        display: block;
    }
}

/************end-dashboard********/