@font-face {
  font-family: "Avenir-Black";
  src: url("../fonts/AvenirLTStd-Black.eot");
  src: url("../fonts/AvenirLTStd-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirLTStd-Black.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-Black.woff") format("woff"),
    url("../fonts/AvenirLTStd-Black.ttf") format("truetype"),
    url("../fonts/AvenirLTStd-Black.svg#AvenirLTStd-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-Book";
  src: url("../fonts/AvenirLTStd-Book.eot");
  src: url("../fonts/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirLTStd-Book.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-Book.woff") format("woff"),
    url("../fonts/AvenirLTStd-Book.ttf") format("truetype"),
    url("../fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-Roman";
  src: url("../fonts/AvenirLTStd-Roman.eot");
  src: url("../fonts/AvenirLTStd-Roman.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirLTStd-Roman.woff2") format("woff2"),
    url("../fonts/AvenirLTStd-Roman.woff") format("woff"),
    url("../fonts/AvenirLTStd-Roman.ttf") format("truetype"),
    url("../fonts/AvenirLTStd-Roman.svg#AvenirLTStd-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}

/********base**********/

main {
  display: block;
  min-height: calc(100vh - 68px);
}

.content-center,
.sub-content-center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: calc(100vh - 68px);
}

.font-black {
  font-family: Avenir-Black !important;
}

.notification {
  position: absolute;
  margin: -11px -5px;
  text-rendering: optimizeLegibility;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
}

.a-container {
  display: flex;
  flex-wrap: nowrap;
  min-width: 85vw;
  margin: 0 auto;
  width: 86%;
}

.subnavbar-nav .nav-item > a.nav-link {
  display: block;
  padding: 0.8rem 1rem;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #f61816;
  border-bottom: 2px solid #f61816;
}

.navbar-brand {
  padding: 0;
}

hr {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  border: 0;
  border-top: 1px solid rgb(236, 240, 243);
}

@media (min-width: 1441px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}

/********end-base***********/
