/**************login*********************/

h1,
h2,
h3,
h4,
h5,
h6 {
  /*color: #999999 !important;*/
  font-family: Avenir-Roman;
  margin-top: 0;
  text-rendering: optimizeLegibility;
}

.title-light {
  font-family: Avenir-Book;
}

.card-login {
  flex: 1 1 auto;
  justify-content: center;
  text-align: center;
  border-radius: 0.7rem;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
  background: #ffffff;
  z-index: 1;
}

.img-login {
  height: 7rem;
  margin-bottom: 1.3rem;
}

.title-login {
  margin-bottom: 0.75rem;
  color: black;
  font-family: Avenir-Black;
}

span.font-black {
  color: #000000;
}

p {
  margin-top: 0;
  margin-bottom: 0.3rem;
  color: #999999;
}

.card-footer-login {
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border-top: none;
  border-radius: 0 0.7rem 0.7rem;
}

.card-footer-login > p > span {
  color: #000000;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  text-align: right;
  margin: 8px 9px 0;
}

@media (min-width: 768px) {
  .logo-app {
    width: 80px;
    padding-top: 1rem;
  }
}

.navbar-brand {
  width: 136px;
  margin-top: 1rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 0 1.25rem;
}

footer {
  padding: 2rem 0;
  margin-top: 1rem;
}

/************end-login******************/

.form-control {
  background-color: #ffffff;
}

.form-check-input {
  position: absolute;
  margin-top: 0.8rem !important;
  margin-left: -1.25rem !important;
}

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
  text-align: left;
}

.form-group {
  margin-bottom: 0rem;
}

.ast {
  color: red !important;
}

.valid-feedback {
  text-align: left;
}

.invalid-feedback {
  text-align: left;
}

h6 {
  color: #333333;
}

.btn-light {
  padding: 0.375rem 1.75rem;
  font-size: 1rem;
  line-height: 2rem;
}

.btn-light .img-bank {
  background: url(../images/bank-building.svg);
  width: 47px;
  display: block;
  margin-top: 6px;
}

.btn-light .img-bank {
  background: url(../images/bank-building.svg);
  width: 47px;
  display: block;
  margin-top: 6px;
  margin: 0 auto;
}

.btn-light .img-credit-card {
  background: url(../images/credit-cards.svg);
  width: 47px;
  display: block;
  margin-top: 6px;
  margin: 0 auto;
}

/*basic reset*/

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  /*Image only BG fallback*/
  background: #ecf0f3;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: transparent;
}

/*form styles*/

.steps {
  width: 100%;
  margin: 50px auto;
  position: relative;
}

.steps fieldset {
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

/*Hide all except first fieldset*/

.steps fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/

.steps label {
  color: #333333;
  text-align: left !important;
  font-size: 15px;
  font-weight: 200;
  padding-bottom: 7px;
  padding-top: 12px;
  display: inline-block;
}

.steps input,
.steps textarea {
  outline: none;
  display: block;
  /*width: 100%;*/
  margin: 0 0 5px;
  padding: 10px 15px;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #837e7e;
  font-family: "Avenir-Roman";
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-wieght: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.steps input:focus,
.steps textarea:focus {
  color: #333333;
}

.modal input,
.modal textarea {
  outline: none;
  display: block;
  width: 100%;
  margin: 0 0 5px;
  padding: 10px 15px;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #837e7e;
  font-family: "Avenir-Roman";
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-wieght: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.modal input:focus,
.modal textarea:focus {
  color: #333333;
}

.question-log {
  margin: 5px 1px 5px 0;
  font-size: 15px;
  position: relative;
  bottom: -2px;
}

/*buttons*/

.steps .action-button,
.action-button {
  width: 100px !important;
  background: #f61a16;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 3rem;
  cursor: pointer;
  padding: 10px 5px;
  margin: 25px auto;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  display: block;
}

.steps .next,
.steps .submit {
  float: right;
}

.steps .previous {
  float: left;
}

.steps .action-button:hover,
.steps .action-button:focus,
.action-button:hover,
.action-button:focus {
  background: #ecf0f3;
  color: #999999;
}

.steps .explanation {
  display: block;
  clear: both;
  width: 540px;
  background: #f2f2f2;
  position: relative;
  margin-left: -30px;
  padding: 22px 0px;
  margin-bottom: -10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  top: 10px;
  text-align: center;
  color: #333333;
  font-size: 12px;
  font-weight: 200;
  cursor: pointer;
}

/*headings*/

.fs-title {
  text-transform: uppercase;
  margin: 0 0 5px;
  line-height: 1;
  color: #f61a16;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #837e7e;
  margin-bottom: 20px;
  text-align: center;
}

/*progressbar*/

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  width: 100%;
  text-align: center;
}

#progressbar li {
  list-style-type: none;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  font-size: 9px;
  width: 25%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 46px;
  line-height: 40px;
  padding-top: 3px;
  display: block;
  font-size: 16px;
  color: #a3a3a3;
  background: white;
  border-radius: 50%;
  margin: 0 auto 5px auto;
  border: 2px solid;
}

/*progressbar connectors*/

#progressbar li:after {
  content: "";
  width: 100%;
  height: 4px;
  background: #a3a3a3;
  position: absolute;
  left: -50%;
  top: 20px;
  z-index: -1;
  /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/

/*The number of the step and the connector before it = green*/

#progressbar li.active:before,
#progressbar li.active:after {
  border: 2px solid #f91300;
  color: #f91300;
}

/* RESPONSIVE */

/* moves error logs in tablet/smaller screens */

@media (max-width: 1000px) {
  /*brings inputs down in size */
  .steps input,
  .steps textarea {
    outline: none;
    display: block;
    width: 100% !important;
  }
  /*brings errors in */
  .error1 {
    left: 345px;
    margin-top: -58px;
  }
}

@media (max-width: 320px) {
  /*mobile phone: uncollapse all fields: remove progress bar*/
  .steps {
    width: 100%;
    margin: 50px auto;
    position: relative;
  }
  #progressbar {
    display: none;
  }
  /*move error logs */
  .error1 {
    position: relative;
    left: 0 !important;
    margin-top: 24px;
    top: -11px;
  }
  .error1:before {
    width: 0;
    height: 0;
    left: 14px;
    top: -14px;
    content: "";
    position: absolute;
    border-left: 6px solid transparent;
    border-bottom: 8px solid #e62163;
    border-right: 6px solid transparent;
  }
  /*show hidden fieldsets */
  .steps fieldset:not(:first-of-type) {
    display: block;
  }
  .steps fieldset {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 45px;
  }
  .steps .next,
  .steps .previous {
    display: none;
  }
  .steps .explanation {
    display: none;
  }
  .steps .submit {
    float: right;
    margin: 28px auto 10px;
    width: 100% !important;
  }
}

/* Info */

.info {
  margin: 35px auto;
  text-align: center;
}

.info span {
  color: #666666;
  font-size: 13px;
  margin-top: 20px;
}

.info span a {
  color: #666666;
  text-decoration: none;
}

.info span .fa {
  color: rgb(226, 168, 16);
  font-size: 19px;
  position: relative;
  left: -2px;
}

.info span .spoilers {
  color: #999999;
  margin-top: 5px;
  font-size: 10px;
}

.files {
  position: relative;
  border: 1px dashed #999999;
  text-align: center;
  margin: 0;
  width: 100% !important;
  height: 120px;
  overflow: hidden;
  background: #f2f2f2;
  border-radius: 8px;
}

.files input {
  width: 100% !important;
  height: 120px;
  border: none;
  padding: 0;
  background: transparent;
  text-align: center;
}

.files {
  position: relative;
}

.files:after {
  pointer-events: none;
  position: absolute;
  top: 35px;
  left: 0;
  width: 40px;
  right: 0;
  height: 42px;
  content: "";
  background-image: url(../images/up-file.svg);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.files:before {
  content: "Browse or Drag file here";
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
  color: #999999;
  font-size: 13px;
}
