/***********dashboard************/

header {
    margin: 1rem 0;
}

.bg-light {
    background-color: #ecf0f3 !important;
}

body#dashboard {
    background-color: #ecf0f3;
}

.img-account-db {
    height: 4rem;
    width: 4rem;
}

.username-db {
    font-family: Avenir-Roman;
    color: #999999;
}

.media-db {
    font-family: Avenir-Roman;
    color: #999999;
}

.input-group-text-top {
    background-color: #dfe5e8;
    border: none;
}

.form-control-top {
    background-color: #dfe5e8;
    background-clip: padding-box;
    border: none;
}

.card {
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0.75rem;
    border: none;
}

h4 {
    font-size: 14px;
    font-family: Avenir-Black;
    border-left: 3px solid;
    margin-left: -12px;
    padding-left: 10px;
    height: 16px;
    padding-top: 6px;
    padding-bottom: 18px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: transparent;
    border: transparent;
    color: #999999;
}

.menu-bar a {
    color: #999999;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.menu-bar {
    font-size: 14px;
    margin-top: 10px;
}

.menu-bar a.active {
    font-size: 14px;
    font-family: Avenir-Black;
    border-left: 3px solid #f61a16;
    color: #f61a16;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.menu-bar>li>a>i {
    margin-right: 10px;
}

.cp {
    border: 1px solid #dfe5e8;
    padding: 6px 0 10px 10px;
    border-radius: 5px;
}

.table {
    font-size: 14px;
}

.table td,
.table th {
    vertical-align: middle;
}

.table thead th {
    vertical-align: middle;
    padding: 5px 13px;
    line-height: 16px;
}

thead {
    color: #999999;
}

td {
    color: #000000;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    font-size: 14px;
}

.tab-content {
    padding: 1em;
}

.input-wi input[type="text"] {
    padding-right: 30px;
    text-align: right;
}

.input-wi {
    position: relative;
}

.input-wi i {
    position: absolute;
    right: 0;
    top: 0;
    padding: 9px 12px;
    color: #999999;
    transition: 0.3s;
}

.card-body {
    flex: 1 1 auto;
    padding: 0.71rem;
    font-size: 14px;
}

.card-o {
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: none;
    border-radius: 0.25rem;
    border: 1px solid #f2f2f2;
}

.files {
    position: relative;
    border: 1px dashed #999999;
    text-align: center;
    margin: 0;
    width: 100% !important;
    height: 120px;
    overflow: hidden;
    background: #f2f2f2;
    border-radius: 8px;
}

.files input {
    width: 100% !important;
    height: 120px;
    border: none;
    padding: 0;
    background: transparent;
    text-align: center;
}

.files {
    position: relative;
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 35px;
    left: 0;
    width: 40px;
    right: 0;
    height: 42px;
    content: "";
    background-image: url(../images/up-file.svg);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.files:before {
    content: "Browse or Drag file here";
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    color: #999999;
    font-size: 13px;
}

footer {
    margin-top: 1.5rem;
    color: #999999;
}

.panel-p {
    margin-bottom: 1rem;
}

.media-db .dropdown-menu {
    position: absolute;
    top: 92%;
}

@media (min-width: 768px) {
    .panel-p {
        padding-right: 1rem !important;
    }
    .img-thumbnail {
        padding: 0.25rem;
    }
    .logo-app {
        width: 80px;
    }
    .input-wi {
        margin: 0 0 0 2em;
    }
}

@media (max-width: 767px) {
    .panel-p {
        padding-right: 0rem !important;
    }
    .img-thumbnail {
        padding: 0rem;
    }
    .img-account-db {
        height: 2rem;
        width: 2rem;
    }
    .username-db {
        font-family: Avenir-Roman;
        font-size: 14px;
        color: #999999;
        margin-top: 10px !important;
        margin-bottom: 1px !important;
    }
    .media-db p {
        font-family: Avenir-Roman;
        font-size: 12px;
    }
    .media-db {
        margin-top: 1.1rem;
    }
    .logo-sp {
        width: 152px;
    }
    .input-wi {
        margin: 1em 0;
    }
}

/************end-dashboard********/