  
 #enter{
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #e0dcdce3;
 }
  #bitcoin2{
  padding-top:80px;
  width:200px;
  height:200px;
  margin:0 auto;
  display:block;
  text-align:center;
  color:#888888;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.path2 {
  stroke-dasharray: 2110;
  stroke-dashoffset: 2110;
  stroke-width:1;
  stroke-linecap:round;
  animation: dash 6s linear infinite;
  fill-opacity:3;
  stroke:white;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 2110;
    opacity:0;
    stroke:#00000061;
  }
  15%{
    opacity:1;
    stroke:#00000091;
  }
  70%{
    opacity:1;
    stroke:#000000c2;
  }
  100%{
    stroke-dashoffset:0;
    opacity:0;
    stroke:#000000;
  }
}