/**************login*********************/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #999999 !important;
    font-family: Avenir-Roman;
    margin-top: 0;
    text-rendering: optimizeLegibility;
    margin-bottom: 2rem;
}

.title-light {
    font-family: Avenir-Book;
}

body#login {
    background-color: #ffffff;
}

.card-login {
    flex: 1 1 auto;
    justify-content: center;
    text-align: center;
    border-radius: 0.7rem;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
}

.img-login {
    height: 7rem;
    margin-bottom: 1.3rem;
}

.title-login {
    margin-bottom: 0.75rem;
    color: black;
    font-family: Avenir-Black;
}

span.font-black {
    color: #000000;
}

p {
    margin-top: 0;
    margin-bottom: 0.3rem;
    color: #999999;
}

.card-footer-login {
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border-top: none;
    border-radius: 0 0.7rem 0.7rem;
}

.card-footer-login>p>span {
    color: #000000;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    text-align: right;
    margin: 8px 9px 0;
}

@media (min-width: 768px) {
    .logo-app {
        width: 80px;
    }
}

/************end-login******************/