<ion-tabs class="tabs-positive tabs-icon-only">
      
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button  tab="tab1">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button  tab="my-wallet">
      <ion-icon name="card"></ion-icon>
      <ion-label>My coin</ion-label>
    </ion-tab-button>
    <ion-tab-button  tab="tab3">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>Exchange</ion-label>
    </ion-tab-button>
    <ion-tab-button  tab="tab4">
      <ion-icon name="radio-button-off"></ion-icon>
      <ion-label>New Coin</ion-label>
    </ion-tab-button>
    <ion-tab-button  tab="tab5">
      <ion-icon name="send"></ion-icon>
      <ion-label>Send</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>