<ion-header no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      <div style="text-align: center; width: 90%">My coin</div>     
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-row>
    <ion-col size="12">
      <ion-slides>

        <ion-slide  class="s1 black-card" style="
        background: url('../../../assets/imgs/my-wallet-atrium.png');
        background-size: cover;
        background-repeat: no-repeat;" *ngFor="let coin of coins">
          <!--img src="../../assets/imgs/my-wallet-atrium.png"/-->
         
            <ion-row class="">
              <ion-col size="6">
                
              </ion-col>
              <ion-col size="6">
                <div>
                  <span>1 {{coin.initial}} = {{coin.coin_price}} €</span>  
                  
                </div>
              </ion-col>
            </ion-row>

            <ion-row class="xs-mt-3">
              <ion-col size="12" class="ion-text-center">
                <span>Available balance</span>
                <h1 class="m-0">{{coin.quantity}} {{coin.initial}}</h1>
                <ion-datetime displayFormat="HH:mm"></ion-datetime>
              </ion-col>
            </ion-row>

            <ion-row class="mt-3">
              <ion-col size="6">
                <span>Cashback Fund</span>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                <span>12:34</span>               
                <span>&nbsp;&nbsp;</span>
                <span>12.06.2019</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <b>Euro: {{coin.price}} </b>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
              <b>{{coin.cash_back_fund}} %</b>
              </ion-col>
            </ion-row>
   
         
        </ion-slide>

        <!--<ion-slide class="s2">
          
         
            <ion-row class="">
              <ion-col size="6">
                
              </ion-col>
              <ion-col size="6">
                <div>
                  <span>1 ATM = 1€</span>  
                  
                </div>
              </ion-col>
            </ion-row>

            <ion-row class="xs-mt-3">
              <ion-col size="12" class="ion-text-center">
                <span>Available balance</span>
                <h1 class="m-0">2.642,00 ATM</h1>
              </ion-col>
            </ion-row>

            <ion-row class="mt-3">
              <ion-col size="6">
                <span>Cashback Fund</span>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                <span>12:34</span>
                <span>&nbsp;&nbsp;</span>
                <span>12.06.2019</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <b>Euro: 1.712,90</b>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
              <b>13%</b>
              </ion-col>
            </ion-row>
   
         
        </ion-slide>-->

        

      </ion-slides>
    </ion-col>
  </ion-row>



  <ion-row style="display: flex;  justify-content: center;">
    
    <ion-col size="5" class="btn-l">
      <ion-button expand="block" shape="round" color="danger" style="width: 93%; margin-right: -12px;"><ion-icon name="arrow-down"></ion-icon>&nbsp;&nbsp; DEPOSIT</ion-button>
    </ion-col>
    <ion-col size="2" style="z-index: 2; display:flex; justify-content: center;">
      <ion-fab-button color="danger">
        <img src="../../assets/imgs/withdrawal.png" style="width: 1.4em; height:auto; margin: 0 auto;">
      </ion-fab-button>
    </ion-col>
    <ion-col size="5" class="btn-r">
      <ion-button expand="block" shape="round" color="danger" style="width: 93%; margin-left: -12px;"> SEND &nbsp;&nbsp;<ion-icon name="send"></ion-icon></ion-button>
    </ion-col>

</ion-row>




<ion-card>
    <ion-item>
   <span>Recent activity</span>
      </ion-item>

  <ion-item href="#" class="activated">
    <ion-icon name="wifi" slot="start"></ion-icon>
    <ion-label>Card Link Item 1 .activated</ion-label>
  </ion-item>

  <ion-item href="#">
    <ion-icon name="wine" slot="start"></ion-icon>
    <ion-label>Card Link Item 2</ion-label>
  </ion-item>

  <ion-item class="activated">
    <ion-icon name="warning" slot="start"></ion-icon>
    <ion-label>Card Button Item 1 .activated</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="walk" slot="start"></ion-icon>
    <ion-label>Card Button Item 2</ion-label>
  </ion-item>
</ion-card>


</ion-content>
