.mr-6 {
    margin-right: 2em;
}
.mt-3 {
    margin-top: 1em;
}

.select-text {
    font-size: 13px;
    margin-right: 8px;
}


.i-select {
    font-size: 14px;
    padding: 6px;
    min-width: 60px
}


ion-segment-button {
    width: calc(100% / 6);

    ion-label {
        max-width: calc(100vw / 6);
    }
}

.btn1 {
    display: inline-block;
    font-weight: 400;
    background: #e7ebee;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}
.btn-group>.btn-group:not(:last-child)>.btn1, .btn-group>.btn1:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group>.btn-group:not(:first-child)>.btn1, .btn-group>.btn1:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.txt-black {
    color: #000000;
}


:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
  .swiper-slide {
    display: block;
  }
  ion-slide > h2 {
    margin-top: 2.8rem;
  }
  ion-slide > img {
    max-height: 50%;
    max-width: 90%;
    margin: 36px 0;
  }

  ion-slide.s1 {
    width: 90vw !important;
    height: 56vw;
    
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4.5vw 3vw;
    margin: 2vw 4vw;
  }
  
  ion-slide.s2 {
    width: 90vw !important;
    height: 56vw;
    background: url('../../../assets/imgs/my-wallet-ganjaclick.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4.5vw 3vw;
    margin: 2vw 4vw;
  }

  .black-card {
      font-weight: 300;
      color: #ffffff !important;
  }

  .m-0 {
      margin: 0 !important;
  }


  .btn-l {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0;
    margin-right: -16px;
  }

  .btn-r {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin-left: -16px;
  }

  .sc-ion-card-md-h {
      border-radius: 15px;
  }

 

 
    @media (min-width: 768px) {
        .swiper-slide {
            font-size: 2rem !important;
        }
        .xs-mt-3 {
            margin-top: 2em;
        }
    }
    @media (max-width: 767px) {
        .swiper-slide {
            font-size: 0.9rem !important;
        }
        .xs-mt-3 {
            margin-top: 1em;
        }
       
    }

    @media (max-width: 320px) {
        .xs-mt-3 {
            margin-top: 0px;
        }
    }